body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 100px 20px;
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

.project {
  margin: 20px;
}
